<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.datecs.samples.PrinterSample"
	android:versionCode="2"
	android:versionName="2.0">
	<application
		android:icon="@drawable/icon"
		android:debuggable="true"
		android:label="@string/app_name">
		<activity
			android:name="ScanActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="PrinterActivity"
			android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation">			
		</activity>		
	</application>
	<uses-sdk
		android:minSdkVersion="3" />
	<uses-permission
		android:name="android.permission.BLUETOOTH"/>
	<uses-permission
		android:name="android.permission.BLUETOOTH_ADMIN"/>
</manifest> 